{{#each blogs as |blog| }}
<div class="card w-11/12 bg-base-100 shadow-xl my-6">
  <div class="card-body">
    <h2 class="card-title">{{ blog.title }}</h2>
    <p>{{ blog.date_created }}</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">View Blog</button>
    </div>
  </div>
</div>
{{/each}}
{{!-- include script to handle/listen for view blog buttons --}}