<div class="card w-11/12 bg-neutral shadow-xl my-6 mx-auto">
    <div class="card-body">
    <h2 class="card-title">Login</h2>
        <form class="form login-form">
        <label for="email-login" class="input-group">
            <span>Email</span>
            <input type="text" id="email-login" placeholder="jdoe@site.com" class="input input-bordered"/>
        </label>
        <label for="password-login" class="input-group">
            <span>Password</span>
            <input type="password" id="password-login"  placeholder="*****" class="input input-bordered" />
        </label>
        <div id="loginBtn2" class="input-group">
            <button class="btn btn-primary" type="submit">login</button>
        </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>