<div class="card w-48 bg-neutral shadow-xl my-6 mx-auto">
    <div class="card-body">
    <h2 class="card-title">Login</h2>
        <form>
            <label for="email-login" class="input-group w-48">
                <span>Email</span>
                <input type="text" id="email-login" placeholder="jdoe@site.com" class="input input-bordered"/>
            </label>
            <label for="password-login" class="input-group w-48">
                <span>Password</span>
                <input type="password" id="password-login" placeholder="*****" class="input input-bordered"/>
            </label>
            <button id="loginBtn2" class="btn btn-primary" type="submit">login</button>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>