<div class="card w-11/12 bg-neutral shadow-xl my-6 mx-auto">
    <div class="card-body">
    <h2 class="card-title">New Blog Post</h2>
        <form>
            <label for="title-blog" class="input-group">
                <span>Title</span>
                <input type="text" id="title-blog" placeholder="Title of Blog" class="input input-bordered"/>
            </label>
            <label for="content-blog" class="input-group">
                <span>Content</span>
                <textarea id="content-blog" type="text" placeholder="Enter blog content here.." class="textarea textarea-bordered" ></textarea>
            </label>
            <button id="submit-blog" class="btn btn-primary" type="submit">submit</button>
        </form>
    </div>
</div>

<script src="/js/newBlogPost.js"></script>