<div class="card w-11/12 bg-neutral shadow-xl my-6 mx-auto">
    <div class="card-body">
    <h2 class="card-title">New Blog Post</h2>
        <h3>Title</h3>
        <input type="text" id="title-blog" placeholder="Title of Blog" class="input input-bordered"/>
        <h3>Content</h3>
        <textarea id="content-blog" type="text" placeholder="Enter blog content here.." class="textarea textarea-bordered" ></textarea>
        <div class="card-actions justify-end">
            <button id="submit-blog" class="btn btn-primary" type="submit">submit</button>
        </div>
    </div>
</div>

<script src="/js/newBlogPost.js"></script>