<div class="card w-11/12 bg-neutral shadow-xl my-6 mx-auto">
    <div class="card-body">
    <h2 class="card-title">Sign Up</h2>
        <form>
            <label for="name-signup" class="input-group">
                <span>Name</span>
                <input type="text" id="name-signup" placeholder="John" class="input input-bordered"/>
            </label>
            <label for="email-signup" class="input-group">
                <span>Email</span>
                <input type="text" id="email-signup" placeholder="jdoe@site.com" class="input input-bordered"/>
            </label>
            <label for="password-signup" class="input-group">
                <span>Password</span>
                <input type="password" id="password-signup" placeholder="*****" class="input input-bordered"/>
            </label>
            <button id="signupBtn" class="btn btn-primary" type="submit">signup</button>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>